<!DOCTYPE html>
<html>
    <title>Menu principal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <body>

    <div class="w3-sidebar w3-light-gray w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
      <button class="w3-bar-item w3-button w3-large"
      onclick="w3_close()">Cerrar &times;</button>
      <a href="/" class="w3-bar-item w3-button">Menu</a>
      <a href="/ventas/" class="w3-bar-item w3-button">Ventas</a>
      <a href="/compras" class="w3-bar-item w3-button">Compras</a>
      <a href="/empleados/" class="w3-bar-item w3-button">Empleados</a>
      <a href="/clientes" class="w3-bar-item w3-button">Clientes</a>
      <a href="#" class="w3-bar-item w3-button" onclick="document.getElementById('id01').style.display='block'">Acerca de...</a>
       <div id="id01" class="w3-modal">
            <div class="w3-modal-content">
              <div class="w3-container">
                <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
              </div>
            </div>
      </div>
    </div>

    <div id="main">
        <div class="w3-purple">
          <button id="openNav" class="w3-button w3-xlarge" onclick="w3_open()">&#9776;</button>
          <div class="w3-container w3-center">
              {% block encabezado %}
            <h1>Florería Arely</h1>
              {% endblock %}
          </div>
        </div>
    </div>

    <div class="w3-container">
        {% block cuerpo %}
            <button onclick="document.getElementById('login').style.display='block'" class="w3-button w3-green w3-large w3-display-middle">Iniciar sesion</button>
            <div id="login" class="w3-modal">
                <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                    <div class="w3-center"><br>
                        <span onclick="document.getElementById('login').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
                        <H2>Inicio de sesion</H2>
                    </div>

                    <form class="w3-container" action="/action_page.php">
                        <div class="w3-section">
                            <label><b>Usuario</b></label>
                            <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Usuario" name="Usuario" required>
                            <label><b>Contraseña</b></label>
                            <input class="w3-input w3-border" type="text" placeholder="Contraseña " name="Contraseña" required>
                            <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Iniciar cesion</button>
                        </div>
                    </form>
                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                        <button onclick="document.getElementById('login').style.display='none'" type="button" class="w3-button w3-red">Cancelar</button>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>

    <script>
        function w3_open() {
          document.getElementById("main").style.marginLeft = "25%";
          document.getElementById("mySidebar").style.width = "25%";
          document.getElementById("mySidebar").style.display = "block";
          document.getElementById("openNav").style.display = 'none';
        }
        function w3_close() {
          document.getElementById("main").style.marginLeft = "0%";
          document.getElementById("mySidebar").style.display = "none";
          document.getElementById("openNav").style.display = "inline-block";
        }
        </script>
    </body>
</html>
